:root {
  --primary-dark-color: #00323b;
  --primary-light-color: #fff;
  --hover-color: #f49195;
  --scroll-color: #0b7e84;
  --blue: #08869c;
  --warning-red: #ce4047;
  --fs-general: 1.1rem;
}

@font-face {
  font-family: "VarelaRound-Regular";
  src: url("assets/fonts/VarelaRound-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "VarelaRound-Regular";
  font-size: var(--fs-general);
  color: var(--primary-dark-color);
}

html {
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

/* buttons */
button {
  display: block;
  margin-inline: auto;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border-radius: 20px;
  border: none;
  padding: 10px 35px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}

/* form */
form {
  display: grid;
  gap: 25px;
}

input {
  width: 100%;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--blue);
  background-color: #ffffff00;
}

input::placeholder {
  color: var(--primary-dark-color);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}


/* homepage */

.main-container .page-back {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 40px;
  cursor: pointer;
  background-image: url("assets/images/page_back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-container .page-back:hover {
  background-image: url("assets/images/page_back_hover.svg");
}

.main-container .main-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10vw;
}

.main-container .main-intro .app-name {
  width: 30vw;
  margin-bottom: 100px;
}

.main-container .app-logo {
  width: 15vw;
  position: fixed;
  top: 20px;
  left: 20px;
}

.main-container .main-intro button {
  width: 200px;
}

/* dashboard */
.dashboard-container:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.dashboard-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container .app-logo {
  opacity: 30%;
}

.dashboard {
  width: 80vw;
  height: fit-content;
  padding: 40px;
  background-color: #ffffffe0;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dashboard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-bottom: 30px;
}

.dashboard .header button {
  margin-inline: 0;
}

.dashboard .header .back-icon {
  background-image: url(assets/images/page_back.svg);
  background-repeat: no-repeat;
}

.dashboard .header .back-icon:hover {
  background-image: url(assets/images/page_back_hover.svg);
}

.dashboard .header .logout-icon {
  background-image: url(assets/images/logout.svg);
}

.dashboard .header .logout-icon:hover {
  background-image: url(assets/images/logout_hover.svg);
}

.dashboard .header .back-icon,
.dashboard .header .logout-icon {
  width: 43px;
  height: 43px;
  cursor: pointer;
}

.dashboard .inner-panel {
  height: 60vh;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 50px;
  background-color: #bbacac71;
  border-radius: 15px;
}

.dashboard .home-panel {
  overflow-y: auto;
}

.dashboard .inner-panel .single-player {
  width: fit-content;
  height: fit-content;
  padding: 50px;
  border-radius: 15px;
  background-color: var(--primary-dark-color);
}

.dashboard .inner-panel .single-player .name {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  color: var(--primary-light-color);
}

.dashboard .inner-panel .avatar {
  width: 100%;
  display: block;
  margin: 30px auto 50px auto;
}

/* controls */
.controls {
  display: flex;
  justify-content: space-between;
}

.controls div {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.controls .settings-icon {
  background-image: url(assets/images/settings.svg);
}

.settings-icon:hover {
  background-image: url(assets/images/settings_hover.svg);
}

.history-icon {
  background-image: url(assets/images/history.svg);
}

.history-icon:hover {
  background-image: url(assets/images/history_hover.svg);
}

.start-icon {
  background-image: url(assets/images/start.svg);
}

.start-icon:hover {
  background-image: url(assets/images/start_hover.svg);
}

.level-back-icon {
  background-image: url(assets/images/level_back.svg);
}

.level-back-icon:hover {
  background-image: url(assets/images/level_back_hover.svg);
}

/* single player info */
.dashboard .player-panel {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dashboard .player-panel form {
  margin-inline: 60px;
}

/* player stats */
.dashboard .player-panel .player-name {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/* chapters */
.chapter-title {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.chapters-svg {
  max-width: 450px;
}

/* levels */
.secondary-container {
  background-image: url(assets/images/home_levels.svg);
}

.levels-intro {
  padding: 150px 100px 0 350px;
}

.chapters-svg,
.inline-svg {
  width: 90%;
  margin: 0 auto;
}

.level-content img {
  max-height: 250px;
}

.content-select {
  max-width: 300px;
  margin-top: 100px;
}

.level-svg {
  background-color: #ffffffb0;
  border-radius: 30px;
  padding: 50px;
  width: 100%;
  max-width: 50vw;
  margin-inline: auto;
  text-align: center;
}

/* single level popup & delete popup */
.level-popup {
  background-color: var(--primary-dark-color);
  border-radius: 50px;
  padding: 50px 100px;
}

.level-popup p {
  margin-bottom: 20px;
  color: var(--primary-light-color);
  text-align: center;
}

.level-popup .controls {
  margin-top: 40px;
}

.emoji-icon {
  display: block;
  margin: 0 auto 30px auto;
}

/* level close icon */
.page-back.close-icon {
  width: 40px;
  height: 40px;
  background-image: url(assets/images/level_close.svg);
}

.page-back.close-icon:hover {
  background-image: url(assets/images/level_close_hover.svg);
}

/* popups */
.popup-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.popup-background.closed {
  display: none;
}

.popup{
  position: relative;
  margin: 0 auto;
  background-color: var(--primary-light-color);
  padding: 60px 100px 40px 100px;
  border-radius: 20px;
  width: 90%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.popup .popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-image: url("assets/images/close.svg");
  cursor: pointer;
}

.popup .popup-close:hover {
  background-image: url("assets/images/close_hover.svg");
}

/* alphabetical levels */
.single-letter p {
  display: inline-block;
  margin-inline: 30px;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid var(--primary-dark-color);
}

.answer-icon {
  display: inline-block;
  margin-left: 15px;
}
