:root {
  --primary-dark-color: #00323b;
  --primary-light-color: #fff;
  --primary-transparency: #ffffffe0;
  --secondary-transparency: #ffffff81;
  --primary-background-color: #d6d1d1;
  --primary-hover-color: #47abb5;
  --pink-hover-color: #f49195;
  --secondary-hover-color: #7eb0b9;
  --input-color: #ffffff00;
  --level-green: #a3c661;
  --blue: #08869c;
  --warning-red: #ce4047;
  --fs-general: 1.1rem;
}

@font-face {
  font-family: "VarelaRound-Regular";
  src: url("assets/fonts/VarelaRound-Regular.ttf");
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "VarelaRound-Regular";
  font-size: var(--fs-general);
  color: var(--primary-dark-color);
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

*:focus {
  outline: none;
}

/* heading h1 */
h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* colors custom class */
.transparency-style {
  background-color: var(--secondary-transparency);
  border: 4px solid var(--secondary-transparency);
}

/* pointer elements*/
a,
button,
.main-container .page-back, 
.dashboard .header .back-icon,
.dashboard .header .logout-icon,
.controls div,
.popup .popup-close,
.avatar-picker img,
.show-pointer {
  cursor: pointer;
}

/* buttons */
button {
  display: block;
  margin-inline: auto;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border-radius: 20px;
  border: none;
  padding: 10px 35px;
}

button:hover {
  background-color: var(--primary-hover-color);
}

.delete-button {
  background-color: var(--warning-red);
}

.delete-button:hover {
  background-color: var(--primary-dark-color);
}

/* form */
form {
  display: grid;
  gap: 25px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--blue);
  background-color: var(--input-color);
}

input::placeholder {
  color: var(--primary-dark-color);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input.ng-touched.ng-invalid{
  border-bottom: 1px solid var(--warning-red);
}

/* homepage */
.main-container {
  width: 100%;
  height: 100vh;
  background-image: url("assets/images/home.svg");
  background-position: center;
  background-size: cover;
}

.main-container.secondary-container {
  background-image: url("assets/images/home_levels.svg");
}

.main-container .page-back {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 40px;
  background-image: url("assets/images/page_back.svg");
  background-position: center;
  background-size: cover;
}

.main-container .page-back:hover {
  background-image: url("assets/images/page_back_hover.svg");
}

.main-container .main-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .main-intro .app-name {
  width: 30vw;
  margin-bottom: 100px;
}

.main-container .app-logo {
  width: 15vw;
  position: fixed;
  top: 20px;
  left: 20px;
}

/* dashboard */
.dashboard-container:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.dashboard-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container .app-logo {
  opacity: 30%;
}

.dashboard {
  width: 80vw;
  height: fit-content;
  padding: 40px;
  background-color: var(--primary-transparency);
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dashboard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-bottom: 30px;
}

.dashboard .header button {
  margin-inline: 0;
}

.dashboard .header .back-icon {
  background-image: url(assets/images/page_back.svg);
}

.dashboard .header .back-icon:hover {
  background-image: url(assets/images/page_back_hover.svg);
}

.dashboard .header .logout-icon {
  background-image: url(assets/images/logout.svg);
}

.dashboard .header .logout-icon:hover {
  background-image: url(assets/images/logout_hover.svg);
}

.dashboard .header .back-icon,
.dashboard .header .logout-icon {
  width: 43px;
  height: 43px;
}

.dashboard .inner-panel {
  height: 60vh;
  max-height: 85vh;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 50px;
  background-color: var(--primary-background-color);
  border-radius: 15px;
  overflow-y: auto;
  scrollbar-color: var(--primary-dark-color) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.dashboard .inner-panel .single-player {
  @extend .transparency-style;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  border-radius: 50px;
}

.dashboard .inner-panel .single-player .name {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
}

.dashboard .inner-panel .avatar {
  width: 100%;
  display: block;
  margin: 30px auto 50px auto;
}

/* controls */
.controls {
  display: flex;
  justify-content: space-between;
}

.controls div {
  width: 40px;
  height: 40px;
}

.controls .settings-icon {
  background-image: url(assets/images/settings.svg);
}

.settings-icon:hover {
  background-image: url(assets/images/settings_hover.svg);
}

.history-icon {
  background-image: url(assets/images/history.svg);
}

.history-icon:hover {
  background-image: url(assets/images/history_hover.svg);
}

.start-icon {
  background-image: url(assets/images/start.svg);
}

.start-icon:hover {
  background-image: url(assets/images/start_hover.svg);
}

.level-back-icon {
  background-image: url(assets/images/level_back.svg);
}

.level-back-icon:hover {
  background-image: url(assets/images/level_back_hover.svg);
}

.previous-icon {
  background-image: url(assets/images/previous.svg);
}

.previous-icon:hover {
  background-image: url(assets/images/previous_hover.svg);
}

.retry-icon {
  background-image: url(assets/images/retry.svg);
}

.retry-icon:hover {
  background-image: url(assets/images/retry_hover.svg);
}

.next-icon {
  background-image: url(assets/images/next.svg);
}

.next-icon:hover {
  background-image: url(assets/images/next_hover.svg);
}

/* single player info */
.dashboard .player-panel {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.dashboard .player-panel.stats-panel{
  align-items: start;
}

.dashboard .player-panel .single-avatar{
  @extend .transparency-style;
  padding: 30px;
  border-radius: 50px;
}

.dashboard .player-panel form {
  margin-inline: 60px;
}

.dashboard .player-panel input{
  @extend .transparency-style;
  border-radius: 15px;
}

.dashboard .player-panel input.ng-touched.ng-invalid{
  border: 2px solid var(--warning-red);
}

/* player stats */
.dashboard .player-panel .player-name {
  @extend .transparency-style;
  margin: 0 auto 50px auto;
  padding: 6px 30px;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: fit-content;
}

/* chapters */
.chapter-title {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.chapters-svg {
  max-width: 450px;
}

.chapters-svg .show-pointer circle:hover {
  fill: var(--primary-dark-color);
  transition: all 0.1s ease;
}

/* levels */
.levels-intro {
  padding: 150px 100px 0 350px;
}

.alph-intro {
  padding-top: 100px;
}

.alph-letters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.alph-letters button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  font-size: 2.5rem;
}

.alph-letters button:hover {
  background-color: var(--pink-hover-color);
  transition: all 0.1s ease;
}

.levels-intro .level-finished{
  fill: var(--level-green);
}

.level-svg {
  @extend .transparency-style;
  border-radius: 30px;
  padding: 50px;
  max-width: 50vw;
  margin-inline: auto;
  text-align: center;
}

.chapters-svg,
.inline-svg {
  width: 90%;
  margin: 0 auto;
}

.level-content img {
  max-height: 250px;
}

.content-select {
  max-width: 300px;
  margin-top: 100px;
}

.content-select-resized {
  display: flex;
}

/* level close icon */
.page-back.close-icon {
  width: 30px;
  height: 30px;
  background-image: url(assets/images/level_close.svg);
  background-size: 30px;
}

.page-back.close-icon:hover {
  background-image: url(assets/images/level_close_hover.svg);
}

.inline-svg .show-pointer path:first-of-type:hover,
.show-pointer circle:hover {
  fill: var(--pink-hover-color);
  transition: all 0.1s ease;
}

/* popups */
.popup-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-background.closed {
  display: none;
}

.popup {
  position: relative;
  margin: 0 auto;
  padding: 60px;
  border-radius: 50px;
  width: fit-content;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.popup .popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-image: url("assets/images/close.svg");
}

.popup .popup-close:hover {
  background-image: url("assets/images/close_hover.svg");
}

.dark-popup {
  background-color: var(--primary-dark-color);
}

.dark-popup p {
  margin-bottom: 20px;
  color: var(--primary-light-color);
  text-align: center;
}

.dark-popup .controls {
  margin-top: 40px;
}

.emoji-icon {
  display: block;
  margin: 0 auto 30px auto;
}

/* alphabetical levels */
.single-letter p {
  display: inline-block;
  margin-inline: 30px;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid var(--primary-dark-color);
}

.answer-icon {
  display: inline-block;
  margin-left: 15px;
}

.answer-picked {
  fill: var(--pink-hover-color);
  background-color: var(--pink-hover-color);
}

.answer-correct {
  fill: var(--level-green);
}

.answer-wrong {
  fill: var(--warning-red);
}

@media (800px < width < 1440px) and (orientation: landscape) {
  /* chapters */
  .inline-svg.chapter-title img {
    width: 200px;
  }

  /* levels */
  .inline-svg {
    padding-left: 100px;
  }

  .levels-intro {
    padding: 120px 0 0 100px;
  }

  .level-svg {
    max-width: fit-content;
  }

  .level-content img {
    max-width: 450px;
  }

  .content-select {
    max-width: 250px;
  }

  /* alphabetical levels */
  .content-select-resized {
    max-width: 400px;
  }

  .single-letter p {
    font-size: 2.5rem;
    margin-inline: 10px;
  }
  
  .chapter-title img {
    width: 200px;
  }
}

@media (width < 800px) and (orientation: landscape) {
  .levels-intro {
    padding: 120px 0 0 50px;
  }

  .main-container .app-logo {
    width: 25vw;
  }

  .inline-svg {
    padding-left: 50px;
  }
  
  .chapter-title img {
    width: 200px;
  }
}

@media (orientation: portrait) {
  .portrait-levels {
    max-height: 60vh;
    display: block;
    margin-inline: auto;
  }
}

@media (width < 1160px) and (orientation: portrait) {
  /* homepage & main container */
  .main-container .main-intro .app-name {
    width: 65vw;
    margin-bottom: 50px;
  }

  /* app logo - secondary logo */
  .main-container .app-logo {
    width: 30vw;
  }

  /* chapters */
  .chapter-title {
    position: static;
    display: flex;
  }

  .chapters-svg {
    margin-top: 150px;
  }

  /* levels */
  .levels-intro {
    padding: 150px 0 0 0;
  }

  .level-content img {
    max-width: 350px;
  }

  .content-select {
    max-width: 200px;
    margin-top: 100px;
  }

  .level-svg {
    max-width: 70vw;
  }

  /* alphabetical levels */
  .answer-icon {
    margin-top: 30px;
    height: 40px;
  }

   .alph-letters {
    gap: 30px;
  }

  .alph-letters button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    font-size: 2rem;
  }
}

@media (800px <= width < 1160px) and (orientation: portrait) {
  /* homepage & main container */
  .main-container {
    background-image: url("assets/images/home_portrait.svg");
  }

  /* chapters */
  .chapter-title {
    justify-content: flex-end;
    padding-top: 100px;
    padding-right: 30px;
  }

  .chapter-title img {
    width: 250px;
  }

  /* levels */
  .main-container.secondary-container {
    background-image: url("assets/images/home_levels_portrait.svg");
  }

  /* alphabetical levels */
  .single-letter p {
    margin-inline: 10px;
  }
}

@media (800px > width) and (orientation: portrait) {
  /* homepage & main container */
  .main-container {
    background-image: url("assets/images/home_small_portrait.svg");
  }

  .main-container .main-intro .app-name {
    width: 75vw;
    margin-top: 200px;
  }

  /* app logo - secondary logo */
  .main-container .app-logo {
    width: 40vw;
  }

  /* dashboard */
  .dashboard {
    width: 90vw;
    padding: 20px;
  }

  .dashboard .inner-panel {
    height: 80vh;
    padding: 20px;
  }

  .dashboard .player-panel form {
    margin-inline: 0;
  }

  /* table */
  .table-container {
    max-width: 70vw;
    max-height: 50vh;
  }

  /* chapters */
  .chapters-svg {
    max-width: 300px;
    margin-top: 200px;
  }

  .chapter-title {
    padding-top: 180px;
    padding-left: 30px;
  }

  .chapter-title img {
    width: 150px;
  }

  /* levels */
  .page-back.close-icon.portrait-icon {
    width: 50px;
    height: 50px;
    background-image: url("assets/images/level_close_portrait.svg");
    background-size: 50px;
  }

  .page-back.close-icon.portrait-icon:hover {
    background-image: url("assets/images/level_close_hover_portrait.svg");
  }

  .main-container.secondary-container {
    background-image: url("assets/images/home_levels_small_portrait.svg");
  }

  .levels-intro {
    padding: 80px 0 0 0;
  }

  .level-content img {
    max-width: 250px;
  }

  .content-select {
    margin-top: 50px;
  }

  .level-svg {
    max-width: 85vw;
  }

  /* alphabetical levels */
  .alpha-level .level-svg {
    max-width: 90vw;
  }

  .single-letter p {
    font-size: 2.4rem;
    margin-inline: 5px;
  }

  .alph-letters button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (max-height: 530px) and (orientation: landscape) {
  /* homepage & main container */
  .main-container .main-intro .app-name {
    margin-bottom: 30px;
  }

  .main-container .app-logo {
    width: 18vw;
  }

  /* dashboard */
  .dashboard {
    width: 90vw;
    padding: 20px;
  }

  .dashboard .inner-panel .single-player {
    padding: 20px;
  }

  .dashboard .inner-panel .single-player img {
    width: 70%;
  }

  .avatar-picker img {
    width: 40%;
  }

  /* chapters */
  .chapters-svg {
    max-width: 350px;
    padding-right: 70px;
  }

  .chapter-title {
    top: 300px;
  }

  .chapter-title img {
    width: 130px;
  }

  /* level close icon */
  .page-back.close-icon {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  /* levels */
  .dark-popup img,
  .dark-popup img {
    width: 40%;
  }

  .levels-intro {
    padding: 50px 0 0 130px;
  }

  .inline-svg {
    width: 70vw;
  }

  .level-content img {
    max-height: 100px;
  }

  .level-svg {
    padding: 30px;
    max-width: fit-content;
  }

  .content-select {
    max-width: 180px;
    margin-top: 30px;
  }

  /* alphabetical levels */
  .single-letter p {
    margin-inline: 10px;
    font-size: 1.5rem;
  }

  .answer-icon {
    height: 30px;
  }

  .content-select-resized {
    max-width: 300px;
  }
}