.dark-popup button {
  background-color: var(--warning-red);
  margin-bottom: 15px;
}

.dark-popup button:hover {
  background-color: var(--primary-hover-color);
}

.form-info-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-info-buttons button {
  margin-inline: 20px;
}

.delete-button {
  background-color: var(--warning-red);
}

.delete-button:hover {
  background-color: var(--primary-dark-color);
}

/* avatar picker */
.inner-panel.avatar-panel {
  display: block;
}

.avatar-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.avatar-picker img {
  display: inline-block;
  background-color: var(--secondary-transparency);
  border: 4px solid var(--secondary-transparency);
  padding: 30px;
  border-radius: 50px;
}

.avatar-picker img:hover {
  background-color: var(--secondary-hover-color);
}

.avatar-picker img:active {
  background-color: var(--secondary-transparency);
  border: 4px solid var(--secondary-hover-color);
}

.avatar-picker img.picked {
  background-color: var(--secondary-transparency);
  border: 4px solid var(--secondary-hover-color);
}

.avatar-button {
  margin-top: 50px;
}
