.login-popup {
  background-color: var(--primary-transparency);
  border: 4px solid var(--primary-transparency);
  padding-top: 80px;
}

.login-popup .login-close {
  top: 20px;
  right: 20px;
}

.login-popup .login-options button {
  width: 100%;
  margin-top: 20px;
}

.login-popup .login-options .google-button {
  background-color: var(--blue);
}

.login-popup .login-options .submit-button:hover {
  background-color: var(--warning-red);
}

.login-popup .login-options .google-button:hover {
  background-color: var(--pink-hover-color);
}

.login-popup .login-options .registration {
  margin-top: 30px;
  text-align: center;
}

.login-popup .login-options .registration a {
  color: var(--pink-hover-color);
}

.login-popup .login-options .registration a:hover {
  color: var(--primary-hover-color);
}
